@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@{
    var fullname = User.Claims.FirstOrDefault(claim => claim.Type == "fullName")?.Value;

    ViewData["ShowTitle"] = true;
    ViewData["Title"] = "Профиль";
    ViewData["Subtitle"] = User.Identity.IsAuthenticated ? $"Добро пожаловать, {fullname}!" : "Вы не вошли в аккаунт...";
}

@if (User.IsInRole(Constants.PatientRole) || User.IsInRole(Constants.MedicRole))
{
    <section class="profile section">
        <div class="container" data-aos="fade-up">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="text-center">
                        <div class="profile-avatar d-inline-block mb-3">
                            <div class="bg-primary text-white d-flex align-items-center justify-content-center rounded-circle"
                                 style="width: 200px; height: 200px; font-size: 2rem;">
                            </div>
                        </div>

                        <div class="mt-2 profile-info text-start mx-auto" style="max-width: 250px;">
                            <h6>@fullname</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="profile-actions d-flex flex-column gap-2">
                        <a asp-action="ActiveAppointments" asp-controller="Appointments" class="btn btn-appointment w-100 profile-btn">
                            Действующие записи
                        </a>
                        <a asp-action="HistoryPatientAppointments" asp-controller="Appointments" class="btn btn-appointment w-100 profile-btn">
                            Архив
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}