@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@{
    var fullname = User.Claims.FirstOrDefault(claim => claim.Type == "fullName")?.Value;
    var role = User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Role)?.Value;

    ViewData["ShowTitle"] = true;
    ViewData["Title"] = "Profile";
    ViewData["Subtitle"] = User.Identity.IsAuthenticated ? $"Добро пожаловать, {fullname}!" : "Вы не вошли в аккаунт...";
}

@if (User.IsInRole(Constants.AdminRole))
{
    <div class="row gy-10 mb-4">
        <div class="col-lg-10">
            <div class="appointment-form-wrapper profile-actions-wrapper" data-aos="fade-up" data-aos-delay="200">
                <div class="row g-3">
                    <div class="col-md-6">
                        <a asp-action="Index" asp-controller="MedSpecialities" class="btn btn-appointment w-100 profile-btn">Просмотр мед. специальностей</a>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Index" asp-controller="Services" class="btn btn-appointment w-100 profile-btn">Просмотр услуг</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
