@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@{
    var fullname = User.Claims.FirstOrDefault(claim => claim.Type == "fullName")?.Value;

    ViewData["ShowTitle"] = true;
    ViewData["Title"] = "Профиль";
    ViewData["Subtitle"] = User.Identity.IsAuthenticated ? $"Добро пожаловать, {fullname}!" : "Вы не вошли в аккаунт...";
    @if (User.Identity.IsAuthenticated)
    {
        <div class="my-3 text-end">
            <form method="post" asp-controller="Auth" asp-action="Logout" class="form-inline">
                <button type="submit" class="btn btn-appointment w-100 profile-btn">Выйти из аккаунта</button>
            </form>
        </div>
    }
}

@if (User.IsInRole(Constants.AdminRole))
{
    <div class="w-100">
        <div class="w-100">
            <div class="appointment-form-wrapper profile-actions-wrapper w-100" data-aos="fade-up" data-aos-delay="200">
                <div class="row g-3">
                    <div class="col-md-6">
                        <a asp-action="Index" asp-controller="MedSpecialities" class="btn btn-appointment w-100 profile-btn">Просмотр мед. специальностей</a>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Index" asp-controller="Services" class="btn btn-appointment w-100 profile-btn">Просмотр услуг</a>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Index" asp-controller="Users" class="btn btn-appointment w-100 profile-btn">Просмотр пользователей</a>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Index" asp-controller="AdditionalServices" class="btn btn-appointment w-100 profile-btn">Просмотр доп. услуг</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (User.IsInRole(Constants.ReceptionistRole))
{
    <div class="w-100">
        <div class="w-100">
            <div class="appointment-form-wrapper profile-actions-wrapper w-100" data-aos="fade-up" data-aos-delay="200">
                <div class="row g-3">
                    <div class="col-md-6">
                        <a asp-action="Add" asp-controller="Appointments" class="btn btn-appointment w-100 profile-btn">Добавить талон</a>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="NewPatient" asp-controller="Users" class="btn btn-appointment w-100 profile-btn">Добавить пациента</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}