@model MedicalServicesManagement.WebApp.Models.MedSpecialityViewModel

@{
    ViewData["ShowTitle"] = true;
    ViewData["Title"] = "Добавление специальности:";
}

<section class="appointmnet section">
    <div class="container" data-aos="fade-up">
        <div class="row gy-10">
            <div class="col-lg-10">
                <div class="appointment-form-wrapper" data-aos="fade-up" data-aos-delay="200">
                    <form asp-action="Add" method="post" class="appointment-form php-email-form needs-validation" novalidate>
                        <div class="row gy-10">
                            <div class="w-100 form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" placeholder="Введите название специальности" required>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-appointment" style="margin-top:20px">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
