@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
    ViewData["ShowTitle"] = true;
    ViewData["Subtitle"] = Model.ErrorMessage;
}

<a class="btn btn-outline-primary" asp-action="@Model.ActionName" asp-controller="@Model.ControllerName">Вернуться</a>